---
layout: default
lang: en
---

<div>
    <div id="menu">
        {% include markdown.html page="menu.md" lang=page.lang %}
    </div>
    <div id="docs">
        <a name="routing"></a>
        {% include markdown.html page="routing.md" lang=page.lang %}

        <a name="extending"></a>
        {% include markdown.html page="extending.md" lang=page.lang %}

        <a name="overriding"></a>
        {% include markdown.html page="overriding.md" lang=page.lang %}

        <a name="filtering"></a>
        {% include markdown.html page="filtering.md" lang=page.lang %}

        <a name="variables"></a>
        {% include markdown.html page="variables.md" lang=page.lang %}

        <a name="views"></a>
        {% include markdown.html page="views.md" lang=page.lang %}

        <a name="variables"></a>
        {% include markdown.html page="variables.md" lang=page.lang %}

        <a name="errorhandling"></a>
        {% include markdown.html page="errorhandling.md" lang=page.lang %}

        <a name="redirects"></a>
        {% include markdown.html page="redirects.md" lang=page.lang %}

        <a name="requests"></a>
        {% include markdown.html page="requests.md" lang=page.lang %}

        <a name="stopping"></a>
        {% include markdown.html page="stopping.md" lang=page.lang %}

        <a name="httpcaching"></a>
        {% include markdown.html page="httpcaching.md" lang=page.lang %}

        <a name="json"></a>
        {% include markdown.html page="json.md" lang=page.lang %}

        <a name="configuration"></a>
        {% include markdown.html page="configuration.md" lang=page.lang %}

        <a name="frameworkmethods"></a>
        {% include markdown.html page="frameworkmethods.md" lang=page.lang %}

        <a name="frameworkinstance"></a>
        {% include markdown.html page="frameworkinstance.md" lang=page.lang %}
    </div>
</div>