<head lang="{{ include.lang }}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title | escape }}</title>
  <link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/img/favicon.png" />
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/normalize.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/highlight.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
  <script src="{{site.baseurl}}/assets/js/jquery-1.12.3.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/main.js"></script>
</head>
