* {
  box-sizing: border-box;
}

html, body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #f3f3f3;
}

a {
  color: #26ADE4;
  text-decoration: none;
}

a:hover {
  color: #555555;
}

pre {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  font-size: 12px;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  line-height: 1.5em;
}

code {
  color: #333;
}

ul {
  margin-bottom: 20px;
  margin-left: 20px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #eee;
}

#container {
  width: 960px;
  margin: 30px auto 60px;
  padding: 20px 0 0 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  box-shadow: 3px 3px 3px rgba(150,150,150,0.2);
}

#content {
  position: relative;
  margin-bottom: 50px;
  padding: 10px 40px;
}

#header {
  text-align: center;
}

#footer {
  color: #999;
  font-size: 10px;
  text-align: center;
  padding: 20px 0 40px;
}

#footer iframe {
  margin: 10px 5px;
}

#title {
  font-family: "Mr Dafoe", Times, serif;
  font-size: 60px;
}

#subtitle {
  font-size: 14px;
  color: #888888;
}

#nav {
}

#nav a {
  margin: 0 15px;
}

#menu {
  position: absolute;
  top: 20px;
  width: 160px;
  padding: 0;
  margin: 0;
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu li {
  list-style: none;
}

#docs {
  margin-left: 160px;
  padding-left: 30px;
  border-left: 1px solid #ddd;
}