html,
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
  Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #f3f3f3;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

#__next {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

a, a:active, a:visited {
  color: #17aceb;
  text-decoration: none;
}

a:hover {
  color: #555;
}

main {
  padding: 20px;
}

pre {
  border: 1px solid #ddd;
  border-radius: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

#container {
  margin: 30px auto 60px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  box-shadow: 3px 3px 3px rgba(150,150,150,0.2);
}

#header {
  text-align: center;
}

#header .title {
  font-family: "Mr Dafoe", serif;
  font-size: 60px;
}

#header .subtitle {
  color: #8e8e8e;
}

#nav ul {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

#nav li {
  font-size: 16px;
  display: block;
  list-style: none;
}

#footer {
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
}

#footer .buttons {
  margin: 20px;
}

#footer .buttons > * {
  margin: 05px;
}

#learn {
  position: relative;
}

#learn .menu ul {
  min-width: 200px;
}

#learn .menu li {
  list-style: none;
}

.sticky {
  position: fixed;
  top: 20px;
}

@media only screen and (max-width: 576px) {
  main {
    padding: 0;
  }

  #learn .menu {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  main {
    padding: 0;
  }

  .sticky {
    position: relative;
    top: 0;
  }
}
